body,
html {
    position: fixed;
    width: 100%;
    background: #faf8ef;
    color: #211e1d;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10px;
    overflow: hidden;
}

.score-container {
    display: inline-block;
    position: relative;
}

@keyframes move-up {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}

.new-points {
    position: absolute;
    left: 42px;
    top: 0;
    display: inline-block;
}

.scored {
    animation: move-up 600ms ease-in;
    animation-fill-mode: both;
}

#board2D-container {
    position: relative;
    grid-area: board2D-container;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    align-items: center;
    top:0;
    right:0;
}

#board3D-container {
    position: relative;
    grid-area: board3D-container;
    font-size: 5px;
}

.header {
    grid-area: header;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.footer {
    grid-area: footer;
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
            "header"
            "board3D-container"
            "board2D-container"
            "footer"
}

@media only screen and (min-width: 375px)   {
    #board3D-container {
        font-size: 6px;
    }

    #board3D-container .board-3D {
        width: 300px;
    }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
    #board3D-container {
        font-size: 11px;
    }

    #board3D-container .board-3D {
        width: 500px;
        padding: 8em 0 0;
    }
}

@media only screen and (min-width: 768px) {
    #board2D-container {
        font-size: 14px;
    }
}


@media only screen and (min-width: 1024px) and (min-height: 768px) {
    #board3D-container {
        font-size: 9px;
    }

    #board3D-container .board-3D {
        width: 410px;
        padding: 8em 0 0;
    }

    #board2D-container {
        font-size: 10px;
    }
}

@media only screen and (min-width: 11200px) {
    .grid {
        /*grid-gap: 20px;*/
        grid-template-columns: 1fr auto;
        grid-template-areas:
                "header  header"
                "board3D-container board2D-container"
                "footer  footer";
        max-width: 600px;
    }

    #board2D-container {
        font-size: 14px;
    }

    #board3D-container {
        width: 45vw;
        max-width: 600px;
        font-size: 10px;
    }
}