body,
html {
    position: fixed;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10px;
    overflow: hidden;
}

:root {
    /* these are default values that can be overridden with another style tag in game.js*/
    --box-size: 4em;
    --gutter: calc(var(--box-size) / 8);
    --boxes: 3;
}

.cell {
    background-color: rgba(238, 228, 218, 0.35);
    margin: calc(var(--gutter) / 2);
    border-radius: 3px;

}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: var(--box-size);
    height: var(--box-size);
    /*opacity: .75;*/
    z-index: 2;
    margin: calc(var(--gutter) / 2);
    transition: all 100ms cubic-bezier(0.77, 0, 0.175, 1);
    /*animation: fadein 1000ms;*/
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0)
    }
    to   {
        opacity: 1;
        transform: scale(0)
    }
}


.tiles {
    position: absolute;
    height: 100%;
    margin: 0;
    top: 0;
}

.tile.remove {
    z-index: 1;
}

.board2D {
    position: relative;
    background-color: #bbada0;
    border-radius: 3px;
    border: 0.35em solid #bbada0;
    margin-right: 1px;
    font-size: 1em;
    height: calc((var(--box-size) + var(--gutter)) * var(--boxes) + 0 * var(--gutter));
    width: calc((var(--box-size) + var(--gutter)) * var(--boxes) + 0 * var(--gutter));
}

.board2D .tile-placeholder {
    z-index: 0;
}


.board2D .tile-inner {
    font-size: 2em;
}

.board2D .tile-1024 .tile-inner, .board2D .tile-2048 .tile-inner, .board2D .tile-super .tile-inner {
    font-size: 1.5em;
}

.board2D .tile-placeholder .tile-inner {
    background: rgba(238, 228, 218, 0.35);
}

#board2D-container {
    position: relative;
    grid-area: board2D-container;
    display: flex;
    justify-content: center;
    font-size: 8px;
    top:0;
    right:0;
 }

#board3D-container {
    position: relative;
    grid-area: board3D-container;
}

.header {
    grid-area: header;
}


.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
            "header"
            "board3D-container"
            "board2D-container"
            "footer"
}

/*@media only screen and (min-width: 500px)  {*/
    /*.grid {*/
        /*grid-template-columns: auto;*/
        /*grid-template-areas:*/
                /*"header"*/
                /*"board3D-container"*/
                /*"board2D-container"*/
                /*"footer";*/
    /*}*/
/*}*/

@media only screen and (min-width: 1200px)   {
    .grid {
        /*grid-gap: 20px;*/
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "header  header"
                "board3D-container board2D-container"
                "footer  footer";
        max-width: 600px;
    }
}